<!-- 
 File Name:         mocap.launch
 Date Created:      2017/06/08
 Date Modified:     2017/06/09
 
 Author:            Eric Cristofalo
 Contact:           eric.cristofalo@gmail.com
 
 Description:       ROS launch file for mocap_interface package
-->

<launch>

  <!-- ========== MOCAP_OPTITRACK ========== -->
  <arg name="mocap_config_file"
    default="$(find mocap_interface)/config/mocap.yaml" />

  <node pkg="mocap_optitrack" type="mocap_node" name="mocap_node" respawn="false" launch-prefix="" required="true" output="screen">
    <rosparam file="$(arg mocap_config_file)" command="load" />
  </node>

  <!-- ========== RVIZ (OPTIONAL) ========== -->
  <node name="rviz" pkg="rviz" type="rviz" respawn="false" output="screen" 
    args="-f world_rviz -d $(find mocap_interface)/rviz/mocap_interface.rviz" required="true">
  </node>
  <!-- ========== LINK BETWEEN MOCAP_OPTITRACK WORLD AND RVIZ WORLD ========== -->
  <node pkg="tf" type="static_transform_publisher" name="trans_pub_rviz_world"
    args="0 0 0 1.5708 0 3.1415 /world_rviz /world 100">
  </node>
    <!-- ========== LINK BETWEEN ODOM_FRAME AND MOCAP_OPTITRACK WORLD ========== -->
  <node pkg="tf" type="static_transform_publisher" name="static_transform_publisher"
    args="0 0 0 0 0 0 /world /odom_frame 100">
  </node>

    <!-- ========== JOY (OPTIONAL) ========== -->
  <node name="joy_node" pkg="joy" type="joy_node" output="screen">
  </node>
  <!-- ========== OUIJABOT TELEOP (OPTIONAL) ========== -->
  <node name="telop" pkg="ouijabot_telop_cpp" type="telop"  output="screen">
    <remap from="vel_out" to="/ouijabot1/cmd_vel" /> <!-- change the index of the robot here -->
  </node>

  <!-- ========== LINK BETWEEN ROBOT RIGID BODY MARKER AND REAL ROBOT'S CENTER OF MASS ========== -->
<!--   <node pkg="tf" type="static_transform_publisher" name="static_transform_publisher"
    args="0 0 0.1 0 0 0 /robot_1/base_link /base_link 100">
  </node> -->

  <!-- ========== MOCAP_INTERFACE ========== -->
<!--   <node pkg="mocap_interface" type="mocap_interface" name="mocap_interface_1" respawn="false" launch-prefix="" required="true" output="screen">
    <remap from="/robot/pose" to="/robot_1/pose"/>
    <remap from="/robot/twist" to="/robot_1/twist"/>
    <param name="COORDINATE_FRAME_INDEX" type="int" value="0" />
    <param name="DISPLAY_DATA_BOOL" type="int" value="0" />
  </node> -->

  <!-- ========== MOCAP_INTERFACE_ODOM ========== -->
  <node pkg="mocap_interface" type="mocap_interface_odom" name="mocap_interface_odom_1" respawn="false" launch-prefix="" required="true" output="screen">
    <remap from="/robot/pose" to="/robot_1/pose"/>
    <remap from="/robot/odom" to="/robot_1/odom"/>
    <param name="DISPLAY_DATA_BOOL" type="int" value="0" />
    <param name="POSITION_COVARIANCE" type="double" value="0.0" />
    <param name="ORIENTATION_COVARIANCE" type="double" value="0.0" />
    <param name="VELOCITY_COVARIANCE" type="double" value="0.00001" />
    <param name="ROTATION_RATE_COVARIANCE" type="double" value="0.000001" />
  </node>

  <!-- ========== UNCOMMENT BELOW TO ADD MORE ROBOTS ========== -->
<!--   <node pkg="mocap_interface" type="mocap_interface" name="mocap_interface_2" respawn="false" launch-prefix="" required="true" output="screen">
    <remap from="/robot/pose" to="/robot_2/pose"/>
    <remap from="/robot/twist" to="/robot_2/twist"/>
    <param name="COORDINATE_FRAME_INDEX" type="int" value="0" />
  </node> -->

<!--   <node pkg="mocap_interface" type="mocap_interface" name="mocap_interface_3" respawn="false" launch-prefix="" required="true" output="screen">
    <remap from="/robot/pose" to="/robot_3/pose"/>
    <remap from="/robot/twist" to="/robot_3/twist"/>
    <param name="COORDINATE_FRAME_INDEX" type="int" value="0" />
  </node> -->

<!--   <node pkg="mocap_interface" type="mocap_interface" name="mocap_interface_4" respawn="false" launch-prefix="" required="true" output="screen">
    <remap from="/robot/pose" to="/robot_4/pose"/>
    <remap from="/robot/twist" to="/robot_4/twist"/>
    <param name="COORDINATE_FRAME_INDEX" type="int" value="0" />
  </node> -->

<!--   <node pkg="mocap_interface" type="mocap_interface" name="mocap_interface_5" respawn="false" launch-prefix="" required="true" output="screen">
    <remap from="/robot/pose" to="/robot_5/pose"/>
    <remap from="/robot/twist" to="/robot_5/twist"/>
    <param name="COORDINATE_FRAME_INDEX" type="int" value="0" />
  </node> -->

</launch>
